@import '../../../styles/colors.css';

.usp5__container {
  display: flex;
  width: 100%;
  background: var(--color-bg-main);
  align-self: center;
  justify-content: center;
}

.usp5-wrapper {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #fff;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  padding: 0 20px;
}

.usp5-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 1053px;
}

.usp5-col--left {
  padding-left: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.usp5-col--center {
  margin-top: -100px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.usp5__img-lift {
  background-position: 0px 0px;
  scale: 1.1;
  min-width: 465px;
  min-height: 335px;
  background-size: cover;
}

.usp5__img-block--top {
  border-radius: 0px 0px 12px 12px;
}

.usp5__img-block--bottom {
  border-radius: 12px 12px 0px 0px;
}

.usp5__img-block--middle {
  border-radius: 12px 12px 0px 0px;
}

.usp5__img-hall {
  background-position: 0px 0px;
  scale: 1.1;
  border-radius: 12px 12px 0px 0px;
  min-width: 465px;
  min-height: 585px;
  background-size: cover;
}

.usp5-col--right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding-right: 0.5%;
}

.usp5__img-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  margin-top: 74px;
  border-radius: 12px;
}

.usp5_img--komnata {
  border-radius: 12px;
  background-position: center;
  min-width: 433px;
  min-height: 370px;
  background-size: cover;
  transition: transform 0.3s ease;
}

.usp5_img--coffee {
  border-radius: 12px 12px 0px 0px;
  background-position: right bottom;
  transition: transform 0.3s ease;
  min-width: 433px;
  min-height: 190px;
  background-size: cover;
  transition: transform 0.3s ease;
}

.usp5__right-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.usp5__line {
  height: 393px;
  border-left: 0.5px solid var(--color-gold);
}

.usp5__title {
  font-size: 76px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 32px;
  /* max-width: 90%; */
  min-width: 730px;
}

.usp5__left-top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
}

.usp5__list {
  font-size: 24px;
  color: var(--color-gold);
  line-height: 1.16;
}

.usp5__year {
  font-size: 24px;
  color: var(--color-gold);
  margin-top: auto;
}

.usp5__img-block {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.usp5__img-block-bottom-right {
  border-radius: 12px 12px 0px 0px;
}

.usp5__img-block:hover .usp5__img {
  transform: scale(1.1);
}

.usp5__img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.usp5__img-enter {
  border-radius: 12px 12px 0px 0px;
  width: 454px;
  height: 390px;
  background-position: bottom right;
  background-size: cover;
}

.usp5__img-block--house {
  margin-bottom: 24px;

}

.usp5__textblock {
  color: var(--color-gold);
  font-size: 20px;
  font-family: 'Urbanist', sans-serif;
  line-height: 1.16;
  padding: 0;
  background: none;
  margin-top: 30px;
  margin-bottom: 70px;
}

.usp5__left-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 71px;
}

.usp5__mobile-wrapper {
  display: none;
}

.usp5__container {
  width: 100%;
}

.usp5__title {
  min-width: 0px;
}

.tablet-mini-text {
  display: none !important;
  flex-direction: column;
  align-self: flex-end;
}

.mobile-mini-text {
  display: none !important;
  flex-direction: column;
  align-self: flex-end;
}

@media (max-width: 1550px) {
  .usp5-wrapper {
    height: none;
    max-height: 100%;
  }


  .usp5__img-lift {
    min-width: 365px;
    min-height: 315px;
  }

  .usp5__img-hall {
    min-width: 365px;
    min-height: 490px;
  }

  .usp5_img--komnata {
    min-width: 433px;
    min-height: 370px;
  }

  .usp5_img--coffee {
    min-width: 433px;
    min-height: 190px;
  }

  .usp5__line {
    height: 393px;
  }

  .usp5__img-enter {
    width: 454px;
    height: 390px;
  }
}

@media (max-width: 1440px) {
  .usp5-wrapper {
    max-height: 100%;
  }

  .usp5__img-lift {
    min-width: 290px;
    min-height: 290px;
  }

  .usp5__img-hall {
    min-width: 290px;
    min-height: 440px;
  }

  .usp5_img--komnata {
    min-width: 270px;
    min-height: 285px;
  }

  .usp5_img--coffee {
    min-width: 270px;
    min-height: 169px;
  }

  .usp5__line {
    height: 279px;
  }

  .usp5__img-enter {
    width: 294px;
    height: 279px;
  }
}

@media (max-width: 1280px) or (height < 800px) {
  .tablet-mini-text {
    display: flex !important;
  }

  .mobile-mini-text {
    display: none !important;
  }

  .usp5__title {
    font-size: 51px;
  }

  .usp5__list {
    font-size: 16px;
  }

  .usp5__textblock {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .usp5__title {
    font-size: 41px;
  }

  .usp5-wrapper {
    height: auto;
    max-height: 100%;
  }

  .usp5-col {
    justify-content: flex-end;
  }

  .usp5__img-child {
    min-width: 290px;
    min-height: 290px;
  }

  .usp5__img-dvor {
    min-width: 290px;
    min-height: 440px;
  }

  .usp5_img--frontview {
    background-position: -60px 40px;
    min-width: 270px;
    min-height: 285px;
  }

  .usp5_img--bbq {
    min-width: 270px;
    min-height: 169px;
    background-position: -10px 0px;
  }

  .usp5__line {
    height: 279px;
  }

  .usp5__img-zal {
    width: 294px;
    height: 279px;
  }
}

@media (max-width: 1024px) or (height > 1440px) {
  .tablet-mini-text {
    display: flex !important;
  }

  .usp5__title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .usp5__mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    max-width: 100vw;
  }

  .usp5_mobile-content-block {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .usp5__mobile-text {
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-gold);
  }

  .usp5__mobile-textblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .usp5__mobile-year {
    align-self: flex-end;
  }

  .usp5__mobile-bot-right-text {
    text-align: right;
  }

  .usp5__mobile-row {
    display: flex;
    /* min-width: 95vw; */
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .usp5__mobile-bot-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .usp5__mobile-top-left-img {
    min-width: calc((100vw - 30px * 3)/2);
    min-height: calc(100vh/3);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .usp5__mobile-top-right-img {
    min-width: calc((100vw - 30px * 3)/2);
    min-height: calc(100vh/3);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .usp5__mobile-bot-left-img {
    min-width: calc((100vw - 30px * 3)/2);
    min-height: calc(100vh/3);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .usp5__mobile-bot-right-block {
    max-width: calc((100vw - 30px * 3)/2);
  }

  .usp5__mobile-bot-right-img {
    max-width: calc((100vw - 30px * 3)/2);
    min-height: calc(100vh/3);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px
  }

  .usp5-wrapper {
    display: none;
  }

}

@media (max-width: 768px) or ((height <=800px) and (width < 600px)) {
  .tablet-mini-text {
    display: none !important;
  }

  .mobile-mini-text {
    display: flex !important;
  }

  .usp5__mobile-wrapper {
    gap: 10px;
  }

  .usp5_mobile-content-block {
    gap: 10px;
  }

  /* .usp5__mobile-top-left-img {
    background-size: 300%;
  }

  .usp5__mobile-top-right-img {
    background-size: 300%;
  }

  .usp5__mobile-bot-left-img {
    background-size: 260%;
  }

  .usp5__mobile-bot-right-img {
    background-size: 150%;
  } */

  .usp5__title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .usp5__mobile-bot-right-img {
    max-width: calc((100vw - 30px * 3)/2);
    min-height: calc(100vh/5);
    background-size: cover;
    background-position: center;
    border-radius: 12px
  }
}

@media(max-width: 650px) {
  .usp5__title {
    font-size: 24px;
  }

  .usp5__list {
    font-size: 12px;
  }

  .usp5__textblock {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .usp5__mobile-bot-right-block {
    max-width: 171px;
  }

  .usp5__mobile-row {
    display: flex;
    min-width: 90vw;
    flex-direction: row;
    gap: 10px;
  }

  .usp5__title {
    font-size: 30px;
  }

  .usp5__list {
    font-size: 12px;
  }

  .usp5__textblock {
    font-size: 12px;
  }

  .usp5__mobile-top-left-img {
    min-width: 170px;
    min-height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  .usp5__mobile-top-right-img {
    min-width: 170px;
    min-height: 230px;
    background-size: cover;
    background-position: bottom right;
    border-radius: 12px;
  }

  .usp5__mobile-bot-left-img {
    min-width: 170px;
    min-height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  .usp5__mobile-bot-right-img {
    min-width: 170px;
    min-height: 141px;
    background-size: cover;
    background-position: center;
    border-radius: 12px
  }
}

@media (max-width: 350px) {
  .mobile-mini-text {
    font-size: 12px;

  }

  .usp5__mobile-top-left-img {
    min-width: 150px;
    min-height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  .usp5__mobile-top-right-img {
    min-width: 150px;
    min-height: 230px;
    background-size: cover;
    ;
    background-position: bottom right;
    border-radius: 12px;
  }

  .usp5__mobile-bot-left-img {
    min-width: 150px;
    min-height: 230px;
    background-size: cover;
    ;
    background-position: center;
    border-radius: 12px;
  }

  .usp5__mobile-bot-right-img {
    min-width: 150px;
    min-height: 141px;
    background-size: cover;
    background-position: center;
    border-radius: 12px
  }
}

@media screen and (max-height: 1440px) {

  .usp5-wrapper {
    height: auto;
    max-height: 100%;
  }

  .usp5-col {
    justify-content: flex-end;
  }
}

@media (height > 800px) {
  .usp5__mobile-top-left-img {
    border-radius: 12px;
  }

  .usp5__mobile-top-right-img {
    border-radius: 12px;
  }

  .usp5__mobile-bot-left-img {
    border-radius: 12px;
  }

  .usp5__mobile-bot-right-img {
    border-radius: 12px !important;

  }

  .usp5__img-block--bottom {
    border-radius: 12px !important;
  }

  .usp5__img-block-bottom-right {
    border-radius: 12px !important;
  }

  .usp5__img-block--top {
    border-radius: 12px !important;
  }

  .usp5__img-block--middle {
    border-radius: 12px !important;
  }
}

@media (height <=800px) and (width >=600px) {
  .tablet-mini-text {
    display: flex !important;

  }

  .mobile-mini-text {
    display: none !important;
  }

  .usp5__mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 100vw;
  }

  .usp5_mobile-content-block {
    gap: 30px;
    display: flex;
    flex-direction: column;
    ALIGN-SELF: center;
  }

  .usp5__mobile-text {
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-gold);
  }

  .usp5__mobile-textblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .usp5__mobile-year {
    align-self: flex-end;
  }

  .usp5__mobile-bot-right-text {
    text-align: right;
  }

  .usp5__mobile-row {
    display: flex;
    /* min-width: 95vw; */
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .usp5__mobile-bot-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .usp5-wrapper {
    display: none;
  }

  .usp5__mobile-wrapper {
    display: flex;
    flex-direction: row;
    width: 98vw;
  }

  .usp5_mobile-content-block {
    max-width: 70vw;
  }

  .usp5__mobile-top-row {
    min-width: 28vw;
    /* align-self: center; */
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    justify-content: space-between;
    /* min-height: 100vh; */
  }


  .usp5__mobile-top-left-img {
    min-width: calc((70vw - 30px * 3)/2);
    min-height: calc((100vh - 30px * 3)/2);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  .usp5__mobile-top-right-img {
    min-width: calc((70vw - 30px * 3)/2);
    min-height: calc((100vh - 30px * 3)/2);
    background-size: cover;
    background-position: bottom right;
    border-radius: 12px;
  }

  .usp5__mobile-bot-left-img {
    min-width: calc((70vw - 30px * 3)/2);
    min-height: calc((100vh - 30px * 3)/2);
    background-size: cover;
    background-position: left bottom;
    border-radius: 12px;
  }

  .usp5__mobile-bot-right-block {
    max-width: calc((70vw - 30px * 3)/2);
  }

  .usp5__mobile-bot-right-img {
    max-width: calc((70vw - 30px * 3)/2);
    min-height: calc((100vh - 30px * 3)/2);
    background-size: cover;
    background-position: center right;
    border-radius: 12px
  }
}

/* Media queries for tall screens */
@media (height > 1440px) {
  .usp5__title {
    font-size: 92px;
  }

  .usp5__list,
  .usp5__textblock,
  .usp5__year,
  .tablet-mini-text,
  .mobile-mini-text,
  .usp5__mobile-text {
    font-size: 36px;
    margin-top: 1vh;

  }

}

@media (height > 2100px) {
  .usp5__title {
    font-size: 115px;
  }

  .usp5__list,
  .usp5__textblock,
  .usp5__year,
  .tablet-mini-text,
  .mobile-mini-text,
  .usp5__mobile-text {
    font-size: 46px;
    margin-top: 1vh;
  }
}

@media ((height > 1440px) or (height > 2100px)) and (width < 768px) {
  .usp5__title {
    font-size: 76px;
  }

  .usp5__list,
  .usp5__textblock,
  .usp5__year,
  .tablet-mini-text,
  .mobile-mini-text,
  .usp5__mobile-text {
    font-size: 24px;
    margin-top: 1vh;
  }
}