@import '../../../styles/colors.css';

.usp5__container {
  display: flex;
  width: 100%;
  background: var(--color-bg-main);
  align-self: center;
  justify-content: center;
}

.usp5-wrapper {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  color: #fff;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  padding: 0 20px;
}

.usp5-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 1053px;
}

/* Левая колонка */
.usp5-col--left {
  padding-left: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.left-top-photo--block {
  overflow: hidden;
  width: 402px;
  height: 380px;
  border-radius: 12px;
  position: relative;
}

.left-top-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;
}

.left-top-photo--block:hover .left-top-photo {
  transform: scale(1.1);
}

/* Центральная колонка */
.usp5-col--center {
  margin-top: -100px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-1 {
  font-weight: 350;
  font-size: 76px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.year-1 {
  font-weight: 250;
  font-size: 24px;
  color: var(--color-gold);
  text-align: center;
}

.description-1 {
  font-weight: 250;
  font-size: 24px;
  color: var(--color-gold);
  text-align: center;
}

.center-photo--block {
  overflow: hidden;
  width: 834px;
  height: 380px;
  border-radius: 12px;
  position: relative;
}

.center-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;
}

.center-photo--block:hover .center-photo {
  transform: scale(1.1);
}

/* Правая колонка */
.usp5-col--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.right-top-photo--block {
  overflow: hidden;
  width: 402px;
  height: 380px;
  border-radius: 12px;
  position: relative;
}

.right-top-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;
}

.right-top-photo--block:hover .right-top-photo {
  transform: scale(1.1);
}

/* Адаптивные стили */
@media (width < 1700px) {
  .usp5-wrapper {
    gap: 25px;
  }

  .usp5-col--center {
    gap: 25px;
  }

  .usp5-col--right {
    gap: 25px;
  }
}

@media (height < 900px) {
  .left-top-photo--block,
  .center-photo--block,
  .right-top-photo--block {
    height: 320px;
  }

  .title-1 {
    font-size: 62px;
  }
}

/* Планшеты и мобильные */
.tablet_slide {
  display: none;
}

.mobile_slide {
  display: none;
}
