@import '../../styles/colors.css';

.call-us-mini-section {
  background-color: var(--color-white);
  /* Example style */
  min-height: 20vh;
  /* Example: smaller section */
  /* Add screen-specific styles here */
}

.CallbackMini__overlay {
  margin-top: -78px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  pointer-events: none;
  width: 100%;
  max-width: 1414px;
  background: var(--color-overlay-blur);
  border: 1px solid var(--color-border);
  border-radius: 18px;
  box-shadow: var(--color-shadow);
  backdrop-filter: blur(100.4px);
}

.CallbackMini__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: auto;
}

.CallbackMini__left {
  display: flex;
  align-items: center;
  padding-left: 56px;
}

.CallbackMini__title {
  font-size: 51px;
  font-weight: 350;
  color: var(--color-text-main);
  margin: 0;
  line-height: 1.2;
  max-width: 550px;
}

.CallbackMini__right {
  display: flex;
  flex-direction: column;
  min-width: 560px;
  padding-right: 66px;
  padding-top: 41px;
  padding-bottom: 42px;
  gap: 12px;
}

.CallbackMini__subtitle {
  font-size: 24px;
  color: var(--color-text-main);
  margin-bottom: 0px;
  text-align: left;
}

.CallbackMini__form {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CallbackMini__input {
  font-size: 24px;
  padding: 0px 16px;
  border: 0.5px solid var(--color-border);
  border-radius: 14px;
  outline: none;
  margin-bottom: 0;
  background-color: transparent;
  /* var(--bs-black); */
  color: var(--color-text-main);
  width: 100%;
  line-height: 70px;
}

.CallbackMini__input::placeholder {
  color: var(--color-text-grey);
  font-family: Inter;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -3%;
  vertical-align: middle;
}

.CallbackMini__button {
  min-height: 70px;
  font-size: 18px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  padding: 12px 0;
  border: none;
  border-radius: 14px;
  background: var(--color-yellow);
  color: var(--color-text-dark);
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s, color 0.2s;
}

.CallbackMini__button:hover {
  background: var(--color-accent);
  color: var(--color-bg-main);
}

@media (max-width: 1200px) {
  .CallbackMini__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 12px 16px 12px;
    margin: 24px 0 0 0;
    max-width: 98%;
  }

  .CallbackMini__right {
    margin-left: 0;
    align-items: flex-start;
  }

  .CallbackMini__form {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .CallbackMini__overlay {
    position: static;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .CallbackMini__content {
    padding: 12px 2vw 8px 2vw;
    margin: 12px 0 0 0;
    max-width: 100%;
  }

  .CallbackMini__title {
    font-size: 20px;
  }

  .CallbackMini__subtitle {
    font-size: 14px;
  }
}