/* Рынки слайд */
.markets {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1700px;
  max-height: 100vh;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
}

/* Первая строка - главное изображение и текст */
.topRow {
  display: flex;
  gap: 30px;
  flex: 1;
}

.mainImage {
  position: relative;
  width: 832px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.heroImage {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 0px -140px;
  transition: transform 0.3s ease;
}

.mainImage:hover .heroImage {
  transform: scale(1.05);
}

.timeTag {
  position: relative;
  bottom: 0px;
  right: 0px;
  color: #C3C3C3;
  margin-right: -12px;
  font-size: 14px;
  font-weight: 350;
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 6px;
}

.timeIcon {
  font-size: 12px;
}

.textBlock {
  flex: 1;
  background: var(--color-bg-secondary);
  border-radius: 20px;
  padding: 40px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-text-main);
  margin: 0;
  line-height: 1.5;
}

/* Вторая строка - дополнительные изображения */
.bottomRow {
  display: flex;
  gap: 30px;
  height: 445px;
}

.smallImage,
.largeImage {
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.smallImage {
  width: 690px;
  height: 420px;
}

.largeImage {
  width: 980px;
  height: 420px;
}

.leftImage{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 0px -30px;
  transition: transform 0.3s ease;
}
.rightImage{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 0px -75px;
  transition: transform 0.3s ease;
}

.smallImage:hover .leftImage,
.largeImage:hover .rightImage {
  transform: scale(1.05);
}
