@import '../../../styles/colors.css';

.layout-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 40px 0; */
  /* padding: 0 20px; */
}

.layout-changer__controls {
  display: flex;
  background: #222220;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 50px;
  padding: 4px;
  gap: 2px;

  width: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(10px);
}

.layout-changer__button {
  padding: 12px 24px;
  border: none;
  border-radius: 46px;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  /* min-width: 140px; */
  font-family: inherit;
}

.layout-changer__button:hover {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.1);
}

.layout-changer__button--active {
  background: var(--color-white);
  color: var(--color-black);
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.layout-changer__button--active:hover {
  background: var(--color-white);
  color: var(--color-black);
}

/* Адаптивность */
@media (max-width: 768px) {
  .layout-changer {
    padding: 0px;
  }

  .layout-changer__controls {
    padding: 10px 0px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .layout-changer__button {
    padding: 6px 0px;

    font-size: 14px;
    min-width: 25vw;

  }
}

@media (max-width: 480px) {
  .layout-changer__controls {
    padding: 10px 0px;
    flex-direction: row;
    justify-content: center;
  }

  .layout-changer__button {
    padding: 6px 0px;
    min-width: 25vw;

  }

  .layout-changer {
    min-width: 100vw;
    margin: 0;
  }

  .layout-changer__controls {
    min-width: 100vw;
  }

  .layout-changer__button {
    min-width: 23%;
    text-align: center;
  }

  .layout-changer__button {
    font-size: 10px;
  }
}

@media (height > 1440px) {
  .layout-changer__button {
    font-size: 2.4vw;
  }

  .layout-changer__controls {
    margin-top: 1vh;
  }
}