@import '../../../styles/colors.css';

.usp5__container {
    display: flex;
    width: 100%;
    background: var(--color-bg-main);
    align-self: center;
    justify-content: center;
}


.usp5-wrapper {
    max-width: 1700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    align-self: center;
}

.slide3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 60px;

}

.slide-3-top {
    display: flex;
    gap: 30px;
}

.slide-3-top--left {
    height: 100%;
    width: 100%;
}

.slide-3-top--right {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.top--left--photo--block {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.top--left--photo {
    width: 835px;
    height: 380px;
    background-position: center center;
    background-size: 115%;
    transition: transform 0.3s ease;
}

.top--left--photo--block:hover .top--left--photo {
    transform: scale(1.1);
}


.left--top--right--photo--block {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.left--top--right--photo {
    width: 402px;
    height: 380px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.left--top--right--photo--block:hover .left--top--right--photo {
    transform: scale(1.1);
}

.right--top--right-photo--block {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.right--top--right-photo {
    width: 402px;
    height: 380px;
    background-size: cover;
    background-position: center right;
    transition: transform 0.3s ease;
}

.right--top--right-photo--block:hover .right--top--right-photo {
    transform: scale(1.1);
}


.slide-3-bottom {
    display: flex;
    gap: 30px
}

.slide-3-bottom--left {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.bullet-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-3-bottom--left--block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.first-row {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
}

.row_title_text {
    font-size: 76px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    margin-top: -14px;
}

.second-row {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin-top: 40px;
}

.main-text {
    padding-top: 10px;
    font-weight: 200;
    font-size: 24px;
    color: var(--color-gold);
}

.bullets {
    font-weight: 200;
    font-size: 24px;
    color: var(--color-gold);
}

.right--bottom-photo--block {
    overflow: hidden;
    width: 835px;
    height: 488px;
    border-radius: 12px;
}

.right--bottom-photo {
    /* scale: 0.8; */
    min-width: 100%;
    min-height: 100%;
    background-position: top left;
    background-size: 155%;
    transition: transform 0.3s ease;

}

.right--bottom-photo--block:hover .right--bottom-photo {
    transform: scale(1.1);
}

.yellow-line {
    height: 100%;
    margin-top: 10px;
    border-left: 0.5px solid var(--color-gold);
}

.year {
    font-weight: 300;
    font-size: 24px;
    color: var(--color-gold);
}

.tablet_slide {
    display: none;
    max-height: 110vh;
}

.mobile_slide {
    display: none;
}

@media (width < 1700px) {
    .row_title_text {
        font-size: 51px;
    }

    .main-text .year {
        font-size: 20px;
    }

    .usp5-wrapper {
        gap: 25px
    }

    .slide3 {
        gap: 25px
    }

    .slide-3-top {
        gap: 25px
    }

    .slide-3-bottom {
        gap: 25px
    }

    .top--left--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .top--left--photo {
        width: 735px;
        height: 335px;
        background-position: center top;
        background-size: 115%;
        transition: transform 0.3s ease;
    }

    .left--top--right--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .left--top--right--photo {
        width: 355px;
        height: 335px;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .right--top--right-photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .right--top--right-photo {
        width: 335px;
        height: 335px;
        background-size: cover;
        background-position: 0px, 0px;
        transition: transform 0.3s ease;
    }

    .right--bottom-photo--block {
        overflow: hidden;
        width: 734px;
        height: 432px;
        border-radius: 12px;
    }

    .right--bottom-photo {
        /* scale: 0.8; */
        min-width: 100%;
        min-height: 100%;
        background-position: -400px;
        background-size: 155%;
        transition: transform 0.3s ease;
    }
}

@media (height < 950px) {
    .row_title_text {
        font-size: 51px;
    }

    .main-text .year {
        font-size: 20px;
    }

    .usp5-wrapper {
        gap: 25px
    }

    .slide3 {
        gap: 25px
    }

    .slide-3-top {
        gap: 25px
    }

    .slide-3-bottom {
        gap: 25px
    }

    .top--left--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .top--left--photo {
        width: 735px;
        background-position: center top;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .left--top--right--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .left--top--right--photo {
        width: 355px;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .right--top--right-photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .right--top--right-photo {
        width: 355px;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;
    }

    .right--bottom-photo--block {
        overflow: hidden;
        width: 734px;
        height: 360px;
        border-radius: 12px;
    }

    .right--bottom-photo {
        /* scale: 0.8; */
        min-width: 100%;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        transition: transform 0.3s ease;
    }
}

@media (width < 1500px) and (height > 750px) {
    .usp5-wrapper {
        gap: 20px
    }

    .slide3 {
        gap: 20px
    }

    .slide-3-top {
        gap: 20px
    }

    .slide-3-bottom {
        gap: 20px
    }

    .top--left--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .top--left--photo {
        width: 648px;
        height: 295px;
        background-position: center bottom;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .left--top--right--photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .left--top--right--photo {
        width: 313px;
        height: 295px;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .right--top--right-photo--block {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
    }

    .right--top--right-photo {
        width: 313px;
        height: 295px;
        background-size: cover;
        background-position: 0px, 0px;
        transition: transform 0.3s ease;
    }

    .right--bottom-photo--block {
        overflow: hidden;
        width: 647px;
        height: 381px;
        border-radius: 12px;
    }

    .right--bottom-photo {
        /* scale: 0.8; */
        min-width: 100%;
        min-height: 100%;
        background-position: center right;
        background-size: 155%;
        transition: transform 0.3s ease;

    }
}

.tablet_slide_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 5px;
}

.tablet_slide_left {
    display: flex;
    flex-direction: column;
    min-width: 45vw;
    /* min-height: 80vh; */
    justify-content: space-between;
    margin: 20px;
}

.tablet_first_left_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablet_left_row_title_text {
    font-weight: 400;
    font-size: 51px;
    line-height: 1.2;
    margin-bottom: -5px;
    color: #fff;
}

.tablet_left_row_main_text {
    font-size: 24px;
    color: var(--color-gold);
}

.tablet_year {
    font-size: 24px;
    color: var(--color-gold);
}

.tablet_second_left_row {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}

.tablet_bullet_block {
    align-self: end;
}

.tablet_yellow-line {
    height: 100%;
    margin-top: 10px;
    border-left: 0.5px solid var(--color-gold);
}

.tablet_bullets {
    font-size: 24px;
    color: var(--color-gold);
}

.tablet_slide_right {
    display: flex;
    flex-direction: column;
    /* min-width: 40vw; */
    min-height: 80vh;
    gap: 30px;
    margin: 20px;
}

.tablet_right_photo_block {
    max-width: 50%;
}

.top_right_photo {
    background-size: cover;
    background-position: center;
    min-width: 40vw;
    height: 30vh;
    border-radius: 12px;

}

.slide_two_photos {
    display: flex;
    flex-direction: row;
    min-width: 40vw;
    height: 30vh;
    gap: 30px;
}

.mid_left_right_photo {
    background-size: cover;
    background-position: center;
    min-width: 20vw;

    height: 30vh;
    border-radius: 12px;
}

.mid_right_right_photo {
    background-size: cover;
    background-position: center;
    width: 19vw;
    height: 30vh;
    border-radius: 12px;
}

.bottom_right_photo {
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 30vh;
    border-radius: 12px;
}

@media (width < 1300px) or ((height < 750px) and (height > 500px)) {

    .slide3 {
        display: none;
    }

    .mobile_slide {
        display: none;
    }

    .tablet_slide {
        display: flex;
    }

    .row_title_text {
        font-size: 51px;
    }

    .main-text .year {
        font-size: 20px;
    }

    .tablet_slide_right {
        gap: 20px
    }

    .slide_two_photos {
        gap: 20px
    }
}

.mobile_slide_wrapper {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 98vh;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.mobile_top_row {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.mobile_title_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title_text {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

.mobile_year {
    font-size: 16px;
    color: var(--color-gold);
}

.mobile_text {
    font-size: 16px;
    color: var(--color-gold);
}

.mobile_top_photo {
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 20vh;
    border-radius: 12px;
}

.mobile_text_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile_yellow-line {
    /* min-height: 100px; */
    min-height: 100%;
    border-left: 0.5px solid var(--color-gold);
}

.mobile_mid_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.mid_left_right_mob_photo {
    width: 90vw;
    /* height: 20vh; */
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.mid_right_right_mob_photo {
    width: 40vw;
    max-height: 10vh;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.mid_right_right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30vh;
}

.mid_bullets {
    font-size: 16px;
    color: var(--color-gold);
}

.mid_right_right_mob_photo {
    width: 40vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
    border-radius: 12px;

}

.bottom_right_mob_photo {
    width: 90vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

@media (width < 750px) {
    .slide3 {
        display: none;
    }

    .tablet_slide {
        display: none;
    }

    .mobile_slide {
        display: flex;
    }
}

@media (height < 500px) {
    .slide3 {
        display: none;
    }

    .mobile_slide {
        display: none;
    }

    .tablet_slide {
        display: flex;
    }

    .tablet_left_row_title_text {
        font-size: 36px !important;
    }

    .tablet_left_row_main_text {
        font-size: 14px !important;
    }

    .tablet_bullets {
        font-size: 14px !important;
    }

    .year {
        font-size: 14px !important;
    }

    .tablet_slide_right {
        gap: 10px
    }

    .slide_two_photos {
        gap: 10px
    }
}

@media (height < 750px) and (width < 700px) {


    .mobile_slide_wrapper {
        gap: 10px;
    }

    .mobile_top_row {
        gap: 10px;
    }

    .mobile_mid_row {
        gap: 10px;
    }

    .title_text {
        font-size: 24px;
    }

    .mobile_year {
        font-size: 14px;
    }

    .mobile_text {
        font-size: 14px;
    }

    .tablet_left_row_title_text {
        font-size: 36px !important;
    }

    .mid_bullets {
        font-size: 14px !important;
    }
}

/* Media queries for tall screens */
@media (height > 1440px) {
  .row_title_text {
    font-size: 92px;
  }
  
  .main-text {
    font-size: 30px;
  }
  
  .bullets {
    font-size: 30px;
  }
  
  .year {
    font-size: 30px;
  }
  
  .tablet_left_row_title_text {
    font-size: 62px !important;
  }
  
  .tablet_left_row_main_text {
    font-size: 30px !important;
  }
  
  .tablet_bullets {
    font-size: 30px !important;
  }
  
  .title_text {
    font-size: 48px;
  }
  
  .mobile_year {
    font-size: 20px;
  }
  
  .mobile_text {
    font-size: 20px;
  }
  
  .mid_bullets {
    font-size: 20px;
  }
}

@media (height > 2100px) {
  .row_title_text {
    font-size: 115px;
  }
  
  .main-text {
    font-size: 36px;
  }
  
  .bullets {
    font-size: 36px;
  }
  
  .year {
    font-size: 36px;
  }
  
  .tablet_left_row_title_text {
    font-size: 76px !important;
  }
  
  .tablet_left_row_main_text {
    font-size: 36px !important;
  }
  
  .tablet_bullets {
    font-size: 36px !important;
  }
  
  .title_text {
    font-size: 58px;
  }
  
  .mobile_year {
    font-size: 24px;
  }
  
  .mobile_text {
    font-size: 24px;
  }
  
  .mid_bullets {
    font-size: 24px;
  }
}